.weaponButton {
  overflow:hidden;
  -webkit-border-radius:50px;
  -moz-border-radius:50px;
  border-radius:50px;
  width:90px;
  height:90px;
  margin: 10px
}

.affichageON {

}

.affichageOFF {
display: none;
}

.player-image {
  overflow:hidden;
  -webkit-border-radius:50px;
  -moz-border-radius:50px;
  border-radius:100px;
  width:200px;
  height:200px;
  margin: 20px;
}

.buttonad {
border-radius:12px 0 12px 0;
background: #f5f5f5;
border:none;
color:#555;
font:bold 12px Verdana;
padding:6px 0 6px 0;
  box-shadow:1px 1px 3px #999;
  width: 100px;
  margin: 20px;
}